 .container {
    height: 40vh;
    overflow: hidden;
    position: relative;
    margin-top: -100px;
}
/*
.arrowContainer {
    position: absolute;
    width: 10%;
    height: 8%;
    top: 50px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.wrapper {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1s ease-in-out;
}

.imgContainer {
    width: 100vw;
    height: 100%;
    position: relative;
}

.overlay {
    width: 100vw;
    height: 100%;
    position: relative;
    background-color: #582f2550;
} */