.container {
    height: auto;
    padding: auto;
    background-color: #030d0d;
    display: flex;
    justify-content: space-between;
}
.item {
    position: relative;
    display: flex;
    padding: 40px 100px;
}

.item:first-child {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}

.item:last-child {
    flex: 3;
    justify-content: flex-end;
    align-items: top;
}

.card {
    padding: 0 50px;
}

.title {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.text {
    color: lightgray;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
}

.social {
    display: flex;
    padding-top: 5px;
    padding-right: 20px;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
}