.container {
    height: auto;
    padding: 50px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
   
}

.title{
    padding-top: 10px;
    text-align: center;
    color: #f6a937;
    font-family: Poppins;
    font-size: xx-large;
}

.item {
    flex: 1;
    display: flex;
    align-items: center;
}

.item:last-child {
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: -20px;
}

.logo{
    cursor: pointer;
}

.cart {
    position: relative;
    cursor: pointer;
}

.counter {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #424242;
}